*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    background: #E8E8E8;
}
header{
    width: 100%;
    height: 147px;
    border-radius: 0px 0px 30px 30px;
    background: #222329;
    display: flex;
    justify-content: space-evenly;
}
.logo{
    width: 78px;
    height: 53px;
    flex-shrink: 0;
    margin-left: 20px;
}
header>div{
    flex-shrink: 0;
    margin-top: 49px;

    
}
header>div>p{
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: white;
    text-align: center;
    font-family: Acme;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}
.event{
    margin-right: 45px;
}
.home{
    
    margin-left: 1117px;
    
    
}
.headunder{
    display: flex;

    width: 100%;
    height: 80px;
    position: relative;
    align-items: center;
}
.pl{
    padding-left: 142px;
    width: 146px;
    color: #162F88;
    text-align: center;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 20px;
    transform: translateY(-50%);
}
.pl1{
    width: 146px;
    color: #000;
    text-align: center;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 20px;
    transform: translateY(-50%);
}
.back{
    width: 100%;
    height: 840px;
    flex-shrink: 0;
    background: #272934;
}
.list{
    display: flex;
    margin-left: 152px;
}

.list>p{
    display: flex;
        height: 42px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 10px 20px;
}
.bar1{
    width: 1482px;
    height: 1px;
    background: #B4B4B4;
    margin-left: 175px;
}
.p1{
    display: flex;
    align-items: flex-start;
    
    margin: 50px 0 0 175px;
}  
.p1>.image {
    flex: 0 0 auto;
    margin-right: 32px;
  }

  .p1>.image>img{
    width: 250px;
    height: 164px;
  }
  
.p1>.text {
    flex: 1 1 auto;
  }
  
.p1>.text>ul {
    list-style-type: none;
  }
  
.p1>.text>ul>li {
    margin-bottom: 38px;
}
.p1>.text>ul>li:nth-child(1) {
    color: #FFF;
    font-family: Pretendard;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.p1>.text>ul>li:nth-child(2) {
    color: #FFF;
    font-family: Pretendard;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.p1>.text>ul>li:nth-child(3) {
    margin-bottom: auto;
    color: #FFF;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.p1>.text>ul>li:nth-child(4) {
    color: #FFF;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.p2{
    display: flex;
    align-items: flex-start;
    
    margin: 30px 0 0 175px;
}  
.p2>.image {
    flex: 0 0 auto;
    margin-right: 32px;
  }

  .p2>.image>img{
    width: 250px;
    height: 164px;
  }
  
.p2>.text {
    flex: 1 1 auto;
  }
  
.p2>.text>ul {
    list-style-type: none;
  }
  
.p2>.text>ul>li {
    margin-bottom: 38px;
}
.p2>.text>ul>li:nth-child(1) {
    color: #FFF;
    font-family: Pretendard;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.p2>.text>ul>li:nth-child(2) {
    color: #FFF;
    font-family: Pretendard;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.p2>.text>ul>li:nth-child(3) {
    margin-bottom: auto;
    color: #FFF;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.p2>.text>ul>li:nth-child(4) {
    color: #FFF;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.p3{
    display: flex;
    align-items: flex-start;
    
    margin: 30px 0 0 175px;
}  
.p3>.image {
    flex: 0 0 auto;
    margin-right: 32px;
  }

  .p3>.image>img{
    width: 250px;
    height: 164px;
  }
  
.p3>.text {
    flex: 1 1 auto;
  }
  
.p3>.text>ul {
    list-style-type: none;
  }
  
.p3>.text>ul>li {
    margin-bottom: 38px;
}
.p3>.text>ul>li:nth-child(1) {
    color: #FFF;
    font-family: Pretendard;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.p3>.text>ul>li:nth-child(2) {
    color: #FFF;
    font-family: Pretendard;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.p3>.text>ul>li:nth-child(3) {
    margin-bottom: auto;
    color: #FFF;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.p3>.text>ul>li:nth-child(4) {
    color: #FFF;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}