/* main css */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    }
@import url('https://fonts.cdnfonts.com/css/acme');
body{
    background-color: lightgray;
}
header{
    width: 100%;
    height: 147px;
    border-radius: 0px 0px 30px 30px;
    background: #222329;
    display: flex;
    justify-content: space-evenly;
}
.logo{
    width: 78px;
    height: 53px;
    flex-shrink: 0;
    margin-left: 20px;
    cursor: pointer;
}
header>div{
    flex-shrink: 0;
    margin-top: 49px;
    margin-bottom: 49px;
    
}
header>div>p{
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: white;
    text-align: center;
    font-family: Acme;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}
.event{
    margin-right: 45px;
}
.home{
    
    margin-left: 1117px;
    
    
}
section{
    display: flex;
    justify-content: center;
    gap: 28px;
    margin-top: 30px;
}
.fir{
    width: 49.922px;
    height: 55.568px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #162F88;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.ml2>p{
    display: flex;
    width: 49.922px;
}
.ml2two{
    margin-left: 20px;
}
.mainleft{
    display: flex;
    width: 770px;
    height: 881px;
    flex-shrink: 0;
    border-radius: 20px;
    background: linear-gradient(0deg, #151419 0%, #151419 100%);
    box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 25px;
}
.box {
    width: 400px;
    height: 200px;
    overflow: hidden;
    position: relative;
  }
  .winner{
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    text-align: center;
    transition-duration: all 2s;
  }
  .winner>img{
    width: 85px;
    height: 83px;
    flex-shrink: 0;
    
  }
  .winner>p{
    color: #66656A;
    text-align: center;
    font-family: Acme;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
   #winner2{
    width: 70px;
    height: 100px;
    flex-shrink: 0;
   }
   #winner2>p{
    color: #66656A;
    text-align: center;
    font-family: Acme;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
   }
  .circle {
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    transform: rotate(-40deg);
    background-image: conic-gradient(rgb(26, 129, 247),rgb(248, 36, 36));
    transition: 1s;
  }
  .inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: #272934;
    margin: 0 auto;
  }
.ml1>p{
    color: #FFF;
    font-family: Pretendard;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.ml2{
    width: 698px;
    height: 70.722px;
    flex-shrink: 0;border-radius: 9px;
    background: #232630;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ml2>p{
    color: #989898;
    font-family: Pretendard;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}
.fir>.first{
    color: white;
    font-family: Pretendard;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.ml3{
    display: flex;
    flex-direction: row;
    width: 698px;
    height: 640.544px;
    border-radius: 11px;
    background: #272934;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 40px
}
.ml3top> .innercontent{
    width: 400px;
    height: 200px;
}
.innercontent>img{
    width: 100%;
}
.ml3>.ml3top{
    width: 400px;
    height: 200px;
}
.ml3lr{
    display: flex;
    align-items: center;
    gap: 25px;

}
.ml3biggroup{
    display: flex;
    gap: 20px;
}
.ml3le{
    border: 0;
    background-color: transparent;
    width: 240px;
    height: 322px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #151419;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    justify-content: center;
}
.man{
    width: 90px;
    height: 90px;
}
.man>img{
    width: 100%;
    padding-top: 10px;
}
.manp{
    text-align: center;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 32.37px; /* 134.876% */
    letter-spacing: -0.964px;
    background: white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
}
#ml3group{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.done{
    background-color: #162F88 !important;
}
.done p{
    color: white !important;
    
}
.ml3o{
    width: 43px;
    height: 43px;
    border-radius: 50%;
    background: #5D5F6F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ml3o>p{
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;   
}
.ml3o1{
    color: #73758A;
    text-align: left;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.ml3o2{
    color: #73758A;
    text-align: left;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.ml3o3{
    color: #73758A;
    text-align: left;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.ml3right:focus{
    background: #162F88;
}
.liv{
    width: 70px;
    height: 90px;
}
.liv>img{
    width: 100%;
    padding-top: 10px;
}
.livp{
    text-align: center;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 134.876% */
    letter-spacing: -1px;
    background: white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.ml3oo{
    width: 43px;
    height: 43px;
    border-radius: 50%;
    background: #5D5F6F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ml3oo>p{
    color: rgba(255, 255, 255, 0.70);
    text-align: center;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.ml3leftunder1,.ml3leftunder2{
    display: flex;
    width: 227px;
    height: 155px;
    flex-shrink: 0;
    border-radius: 9px;
    background: #222329;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.ml3lu1{ 
    display: flex;
    justify-content: space-around;
}
.ml3lu2{ 
    display: flex;
    justify-content: space-around;
}

.ml3p1{
    color: #FFF;
    text-align: center;
    font-family: Acme;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.ml3p2{
    color: #FFF;
    text-align: center;
    font-family: Acme;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.ml3p3{
    color: rgba(255, 255, 255, 0.50);
    font-family: Acme;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.lose{
    width: 39px;
    height: 24.248px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #464646;
    background: #5D5F6F;
    margin-top: 5.05px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.lose>p{
    flex-shrink: 0;
    color: #282828;
    text-align: center;
    font-family: Pretendard;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.win{
    width: 39px;
    height: 24.248px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #FFF;
    background: #A30B0B;
    margin-top: 5.05px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.win>p{
    flex-shrink: 0;
    color: #282828;
    text-align: center;
    font-family: Pretendard;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0 auto;
}
.ml3lu11{
    width: 35.642px;
    height: 34.25px;
    flex-shrink: 0;
    background-size:auto;
    
}
.ml3lu12{
    width: 26.713px;
    height: 34.25px;
    flex-shrink: 0;
 
}
.ml3center{
    width: 106px;
    height: 84px;
    flex-shrink: 0;
    background: linear-gradient(90deg, #FAFF00 13.96%, #00FFF0 99.82%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: Acme;
    font-size: 96px;
    font-style: normal;
    letter-spacing: -2.44px;
}

.mainright{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mainright.on>div.mr2 {
    display: none;
}
.mainright.on>div { 
    display: none;
}

.mainright.on>div.mr2 .result {
    display: none;
} 
.bigpreview{
    position: relative;
    border-radius: 20px;
    display: flex;
    background: linear-gradient(0deg, #151419 0%, #151419 100%);  
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 877px;
    height: 881px;
    justify-content: center;
    animation: aaa 0.5s;
}
@keyframes aaa{
    0%{
        transform: scale(0);
    }
}
.bigpreview2{
    position: relative;
    border-radius: 20px;
    display: flex;
    background: linear-gradient(0deg, #151419 0%, #151419 100%);  
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 877px;
    height: 881px;
    justify-content: center;
}
.bpx{
    color: white;
    position: absolute;
    right: 20px;
    top: 20px;
    font-family: Acme;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.bigpreviewtop{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 15px;
    margin-bottom: 16px;

}
.line1{
    width: 2px;
    height: 473px;
    background: black;
    border: 0;
    margin-left: 46px;
}
.line2{
    width: 303px;
    height: 2px;
    background: black;
    border: 0;
    margin-top: 42px;
}
.mup, .mup2{
    margin-top: 20px;
}
.bigman2{
    display: flex;
    width: 405px;
    height: 85px;
    border-radius: 28px;
    background: #272934;   
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    cursor: pointer;

}
.bigman2>img{
    width: 69px;
    height: 70px;
}
.bigman2>p{
    color: #FFF;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;    
}
.bigman{
    display: flex;
    width: 405px;
    height: 85px;
    border-radius: 28px;
    background-image: url(../윗로고.png);  
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    cursor: pointer;
}
.done1{
    background-color: #272934;
}
.bigman>img{
    width: 69px;
    height: 70px;
}
.bigman>p{
    color: #FFF;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;    
}
.bpp{
    color: #FFF;
    text-align: center;
    font-family: Acme;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
    margin-top: 39px;

}
.bigliv2{
    display: flex;
    width: 405px;
    height: 85px;
    border-radius: 28px;
    background-image: url(../윗로고.png);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: #FFF;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.bigliv2>img{
    width: 57px;
    height: 77px;
}
.bigliv{
    display: flex;
    width: 405px;
    height: 85px;
    border-radius: 28px;
    background: #272934;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.bigliv>img{
    width: 57px;
    height: 77px;
}
.bigliv{
    color: #FFF;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.bigpreviewmid{
    width: 819px;
    height: 641px;
    display: flex;   
    border-radius: 11px;
    flex-direction: column;
    margin-bottom: 25px;
    position: relative;
}
.bigpreviewmid::before{
    content: "";
    background-image: url(./맨유.png);
    background-size: cover;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.bigpreviewmid2{
    width: 819px;
    height: 641px;
    display: flex;   
    border-radius: 11px;
    flex-direction: column;
    margin-bottom: 25px;
    position: relative;
}
.bigpreviewmid2::before{
    content: "";
    background-image: url(사진파일/리버풀.png);
    background-size: cover;
    opacity: 0.5;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.bpleft{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 37px;
}
.bpleft>p{
    color: #FFF;
    font-family: Pretendard;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;    
}
.bpleft>img{
    width: 362px;
    height: 430px;
    border-radius: 10px;
    margin-top: 16px;
}
.mup{
    color: white;
    text-align: center;
    text-shadow: 0px 5px 6px rgba(0, 0, 0, 0.25);
    font-family: Pretendard;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;    
    position: relative;
}
.mup2{
    color: black;
    text-align: center;
    text-shadow: 0px 5px 6px rgba(0, 0, 0, 0.25);
    font-family: Pretendard;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;    
    position: relative;
}
.bplr{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    position: relative;
}
.bpright{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.bpright1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bpr1{
    color: #FFF;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 2;
    margin-top: 18px;
    width: 214px;
}
.bpright1>p{
    color: #FFF;
    font-family: Pretendard;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.bpr1{
    display: flex;
    flex-direction: column;
}
.bpr2{
    display: flex;
    flex-direction: column;
    margin-top: 18px;
    width: 214px;
}
.bpright2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
}
.bpr2{
    color: #FFF;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height:2;    
}
.bpright2>p{
    color: #FFF;
    font-family: Pretendard;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.mr1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.rank{
    width: 492px;
    height: 389px;
    flex-shrink: 0;
    border-radius: 30px;
    background: linear-gradient(0deg, #151419 0%, #151419 100%);
    box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
}
.r1{
    padding-top: 24px;
    padding-left: 28px;
    color: #FFF;
    font-family: Acme;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.r2{display: flex;}
.r2>p{
    color: #989898;
    text-align: right;
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.r2>p:nth-child(1){
    padding-left: 30px;
    padding-top: 33px;
    width: 25px;
    height: 17px;
    flex-shrink: 0;
    text-align: none;
    
}
.r2>p:nth-child(2){
    padding-left: 47px;
    padding-top: 33px;
    width: 28px;
    height: 17px;
    flex-shrink: 0;
    text-align: none;
}
.r2>p:nth-child(3){
    padding-left: 176px;
    padding-top: 33px;
    width: 20px;
    height: 17px;
    flex-shrink: 0;
}
.r2>p:nth-child(4){
    padding-left: 39px;
    padding-top: 33px;
    width: 20px;
    height: 17px;
    flex-shrink: 0;
}
.r2>p:nth-child(5){
    padding-left: 37px;
    padding-top: 33px;
    width: 29px;
    height: 17px;
    flex-shrink: 0;
}
.r3{display: flex;}
.r3>p:nth-child(1){
    width: 30.018px;
    height: 16.676px;
    flex-shrink: 0;
    color: #6788FF;
    text-align: center;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 17.74px;
    padding-left:28.24px;
}
.r3>p:nth-child(2){
    width: 61px;
    height: 16px;
    flex-shrink: 0;
    color: #6788FF;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 18px;
    padding-left:43.75px;
}
.r3>p:nth-child(3){
    width: 20.012px;
    height: 16.676px;
    flex-shrink: 0;
    color: #6788FF;
    text-align: right;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 17.74px;
    padding-left:143.18px;
}
.r3>p:nth-child(4){
    width: 24.459px;
    height: 16.676px;
    flex-shrink: 0;
    color: #6788FF;
    text-align: right;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 17.74px;
    padding-left:34.46px;
}
.r3>p:nth-child(5){
    width: 31.129px;
    height: 16.676px;
    flex-shrink: 0;
    color: #6788FF;
    text-align: right;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 17.74px;
    padding-left:34.46px;
}
.r4{
    display: flex;
    width: 466.941px;
    height: 33.353px;
    flex-shrink: 0;
    margin-left: 6px;
    margin-right: 19.96px;
    margin-top: 10.42px;
    background: #232630;
}
.r4>p:nth-child(1){
    padding-left: 22.24px;
    padding-top: 7.78px;
    padding-bottom: 8.89px;
    width: 30.018px;
    height: 16.676px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.r4>p:nth-child(2){
    padding-left: 43.75px;
    padding-top: 7.58px;
    padding-bottom: 8.77px;
    width: 62px;
    height: 17px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.r4>p:nth-child(3){
    padding-left: 142.18px;
    padding-top: 7.78px;
    padding-bottom: 8.89px;
    width: 20.012px;
    height: 16.676px;
    flex-shrink: 0;
    color: #FFF;
    text-align: right;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}
.r4>p:nth-child(4){
    padding-left: 34.46px;
    padding-top: 7.78px;
    padding-bottom: 8.89px;
    width: 24.459px;
    height: 16.676px;
    flex-shrink: 0;
    color: #FFF;
    text-align: right;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    }
.r4>p:nth-child(5){
        padding-left: 34.46px;
        padding-top: 7.78px;
        padding-bottom: 8.89px;
        width: 31.129px;
        height: 16.676px;
        flex-shrink: 0;
        color: #FFF;
        text-align: right;
        font-family: Pretendard;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
}
.r5{display: flex;}
.r5>p:nth-child(1){
    padding-left:28.24px;
    padding-top: 8.89px;
    width: 30.018px;
    height: 16.676px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.r5>p:nth-child(2){
    padding-left:43.75px;
    padding-top: 9.23px;
    width: 66px;
    height: 16px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.r5>p:nth-child(3){
    padding-left:138.18px;
    padding-top: 8.89px;
    width: 20.012px;
    height: 16.676px;
    flex-shrink: 0;
    color: #FFF;
    text-align: right;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.r5>p:nth-child(4){
    padding-left:34.46px;
    padding-top: 8.89px;
    width: 24.459px;
    height: 16.676px;
    flex-shrink: 0;
    color: #FFF;
    text-align: right;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.r5>p:nth-child(5){
    padding-left:34.46px;
    padding-top: 8.89px;
    width: 31.129px;
    height: 16.676px;
    flex-shrink: 0;
    color: #FFF;
    text-align: right;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.r6{
    display: flex;
    width: 466.941px;
    height: 33.353px;
    flex-shrink: 0;
    margin-left: 6px;
    margin-right: 19.96px;
    margin-top: 10.42px;
    background: #232630;
}
.r6>p:nth-child(1){
    padding-left: 22.24px;
    padding-top: 7.78px;
    padding-bottom: 8.89px;
    width: 30.018px;
    height: 16.676px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.r6>p:nth-child(2){
    padding-left: 43.75px;
    padding-top: 7.58px;
    padding-bottom: 8.77px;
    width: 61px;
    height: 17px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.r6>p:nth-child(3){
    padding-left: 143.18px;
    padding-top: 7.78px;
    padding-bottom: 8.89px;
    width: 20.012px;
    height: 16.676px;
    flex-shrink: 0;
    color: #FFF;
    text-align: right;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}
.r6>p:nth-child(4){
    padding-left: 34.46px;
    padding-top: 7.78px;
    padding-bottom: 8.89px;
    width: 24.459px;
    height: 16.676px;
    flex-shrink: 0;
    color: #FFF;
    text-align: right;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    }
.r6>p:nth-child(5){
        padding-left: 34.46px;
        padding-top: 7.78px;
        padding-bottom: 8.89px;
        width: 31.129px;
        height: 16.676px;
        flex-shrink: 0;
        color: #FFF;
        text-align: right;
        font-family: Pretendard;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
}
.r7{display: flex;}
.r7>p:nth-child(1){
    padding-left:28.24px;
    padding-top: 8.89px;
    width: 30.018px;
    height: 16.676px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.r7>p:nth-child(2){
    padding-left:43.75px;
    padding-top: 9.23px;
    width: 66px;
    height: 16px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.r7>p:nth-child(3){
    padding-left:138.18px;
    padding-top: 8.89px;
    width: 20.012px;
    height: 16.676px;
    flex-shrink: 0;
    color: #FFF;
    text-align: right;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.r7>p:nth-child(4){
    padding-left:34.46px;
    padding-top: 8.89px;
    width: 24.459px;
    height: 16.676px;
    flex-shrink: 0;
    color: #FFF;
    text-align: right;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.r7>p:nth-child(5){
    padding-left:34.46px;
    padding-top: 8.89px;
    width: 31.129px;
    height: 16.676px;
    flex-shrink: 0;
    color: #FFF;
    text-align: right;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.r8{
    display: flex;
    width: 466.941px;
    height: 33.353px;
    flex-shrink: 0;
    margin-left: 6px;
    margin-right: 19.96px;
    margin-top: 10.42px;
    background: #232630;
}
.r8>p:nth-child(1){
    padding-left: 22.24px;
    padding-top: 7.78px;
    padding-bottom: 8.89px;
    width: 30.018px;
    height: 16.676px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.r8>p:nth-child(2){
    padding-left: 43.75px;
    padding-top: 7.58px;
    padding-bottom: 8.77px;
    width: 61px;
    height: 17px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.r8>p:nth-child(3){
    padding-left: 143.18px;
    padding-top: 7.78px;
    padding-bottom: 8.89px;
    width: 20.012px;
    height: 16.676px;
    flex-shrink: 0;
    color: #FFF;
    text-align: right;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}
.r8>p:nth-child(4){
    padding-left: 34.46px;
    padding-top: 7.78px;
    padding-bottom: 8.89px;
    width: 24.459px;
    height: 16.676px;
    flex-shrink: 0;
    color: #FFF;
    text-align: right;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    }
.r8>p:nth-child(5){
        padding-left: 34.46px;
        padding-top: 7.78px;
        padding-bottom: 8.89px;
        width: 31.129px;
        height: 16.676px;
        flex-shrink: 0;
        color: #FFF;
        text-align: right;
        font-family: Pretendard;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
}
.r9{display: flex;}
.r9>p:nth-child(1){
    padding-left:28.24px;
    padding-top: 8.89px;
    width: 30.018px;
    height: 16.676px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.r9>p:nth-child(2){
    padding-left:43.75px;
    padding-top: 9.23px;
    width: 66px;
    height: 16px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.r9>p:nth-child(3){
    padding-left:138.18px;
    padding-top: 8.89px;
    width: 20.012px;
    height: 16.676px;
    flex-shrink: 0;
    color: #FFF;
    text-align: right;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.r9>p:nth-child(4){
    padding-left:34.46px;
    padding-top: 8.89px;
    width: 24.459px;
    height: 16.676px;
    flex-shrink: 0;
    color: #FFF;
    text-align: right;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.r9>p:nth-child(5){
    padding-left:34.46px;
    padding-top: 8.89px;
    width: 31.129px;
    height: 16.676px;
    flex-shrink: 0;
    color: #FFF;
    text-align: right;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.rplus>svg{
    padding-top: 10px;
    padding-left: 233.97px;
    padding-right: 245.86px;
    padding-bottom: 22.76px;
    stroke-width: 2px;
    stroke: #989898;
        
}
.sign{
    width: 356px;
    height: 389px;
    flex-shrink: 0;
    border-radius: 30px;
    background: linear-gradient(0deg, #151419 0%, #151419 100%);
    box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
}
.sign-wrapper{
    width: 400px;
    height: 350px;
    padding: 40px;
}
#sign-form{
        padding-top: 36px;
    padding-left: 22px;
}
#sign-form > input{
    width: 307px;
    height: 45px;
    flex-shrink: 0;

    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #F8F8F8;
    border-radius: 23px;
    border: 1px solid #EEE;
    background: rgba(255, 255, 255, 0.01);
    color: #D2D2D2;
}
#sign-form > input::placeholder{
    color: #D2D2D2;
    padding-top: 9px;
    font-family: Pretendard;
}
#sign-form > input[type="button"]{
    width: 86px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 23px;
    background: linear-gradient(270deg, #8359AD 0%, #7A78CD 97.88%);
    color: white;
    cursor: pointer;
    margin-left: 110px;
}
#sign-form > label{
    color: #999999;
}
.signunder{
    justify-content: flex-start;
    display: flex;
    margin-left: 20px;

}
.signunder>a{
    color: #FFF;
    text-align: center;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
.login{
    width: 356px;
    height: 389px;
    flex-shrink: 0;
    border-radius: 30px;
    background: linear-gradient(0deg, #151419 0%, #151419 100%);
    box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
}
.login-wrapper{
    width: 400px;
    height: 350px;
    padding: 40px;
}
#login-form{
        padding-top: 84px;
    padding-left: 22px;
}
#login-form > input{
    width: 307px;
    height: 45px;
    flex-shrink: 0;

    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #F8F8F8;
    border-radius: 23px;
    border: 1px solid #EEE;
    background: rgba(255, 255, 255, 0.01);
    color: #D2D2D2;
}
#logout{
    cursor: pointer;
}
#lg{
    padding-left: 28px;
}
#login-form > input::placeholder{
    color: #D2D2D2;
    padding-top: 9px;
    font-family: Pretendard;
}
#login-form > input[type="button"]{
    width: 307px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 23px;
    background: linear-gradient(270deg, #300f52 0%, #2824c8 97.88%);
    margin-top: 20px;
    color: white;
    cursor: pointer;
}
#login-form > label{
    color: #999999;
}
.loginunder{

    margin-top: 24px;
    justify-content: center;
    display: flex;

}
.loginunder>a{
    color: #FFF;
    text-align: center;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
.loginunder>hr{
    width: 0px;
    height: 14px;
    margin-left: 12px;
    margin-right: 12px;
}
.mypage{
    width: 356px;
    height: 389px;
    flex-shrink: 0;
    border-radius: 30px;
    background: linear-gradient(0deg, #151419 0%, #151419 100%);
    box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);

}
.mypoint{    
    width: 356px;
    height: 389px;
    flex-shrink: 0;
    border-radius: 30px;
    background: linear-gradient(0deg, #151419 0%, #151419 100%);
    box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);

}
.mr2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.preview{
    width: 427px;
    height: 252px;
    flex-shrink: 0;
    border-radius: 30px;
    background: linear-gradient(0deg, #151419 0%, #151419 100%);
    box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;

}
.result{
    width: 427px;
    height: 252px;
    flex-shrink: 0;
    border-radius: 30px;
    background: linear-gradient(0deg, #151419 0%, #151419 100%);
    box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.mp1{
    display: flex;
}
.mp1o{
    width: 19.844px;
    height: 19.844px;
    margin-left: 28.094px;
    margin-top: 37.788px;
    border-radius: 11px;
    background: #D9D9D9;

}
.mp1page{
    margin-left: 14px;
    margin-top: 35px;
    color: #FFF;
    text-align: center;
    font-family: Acme;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.mp2o{
    width: 303.972px;
    height: 36.982px;
    flex-shrink: 0;
    border-radius: 20.5px;
    background: #1F1E25;
    margin-left: 26.29px;
    margin-top: 13.44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mp2o2{
    width: 148.829px;
    height: 30.668px;
    flex-shrink: 0;
    border-radius: 17px;
    background: #162F88;
    margin-top: 3.25px;
    margin-bottom: 3.07px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mp2o22{
    width: 148.829px;
    height: 30.668px;
    flex-shrink: 0;
    border-radius: 17px;
    background: #162F88;
    margin-top: 3.25px;
    margin-bottom: 3.07px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mp2o2>p{
    color: #FFF;
    text-align: center;
    font-family: Acme;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.mp2o22>p{
    color: #FFF;
    text-align: center;
    font-family: Acme;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.mp2opoint{
    color: #6D6D71;
    text-align: center;
    font-family: Acme;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 46px;
    cursor: pointer;
}
.mp22opoint{
    color: #6D6D71;
    text-align: center;
    font-family: Acme;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 46px;
    cursor: pointer;
}
.mp3{
    display: flex;
}
.mp31lion{
    width: 78.744px;
    height: 79.556px;
    margin-left: 28px;
    margin-top: 20px;
}
.mp32{
    margin-left: 6px;
    margin-top: 20px;
}
.mp32>p:nth-child(1){
    color: #AEABAB;
    font-family: Pretendard;
    font-size: 11px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.mp32>p:nth-child(2){
    color: #FFF;
    font-family: Pretendard;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 21px;
}
.mp32>p:nth-child(3){
    color: #4B494E;
    font-family: Pretendard;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 9px;
}
.mp33{
    color: #BDBDBD;
    font-family: Pretendard;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 128px;
    margin-top: 20px;
}
.mp3line{
    width: 299.462px;
    height: 1px;
    margin-left: 28px;
    opacity: 50%;
    margin-top: 11px;
    background: #1F1D21;
}
.mp4{ 
    display: flex;
}
.mp41>p:nth-child(1){ 
    color: #4B494E;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 20px;
    margin-left: 28px;
}
#res{
    color: #FFF;
    font-family: Pretendard;
    font-size: 31px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;    
    margin-left: 40px;
}
#res2{
    color: #FFF;
    font-family: Pretendard;
    font-size: 31px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;    
    margin-left: 40px;
}
.pointcolor{
    margin-top: 15px;
    margin-left: 40px;
}
.mp421{
    margin-left: 148px;
    margin-top: 18px; 
    display: flex;
}
.mp421>p{
    color: #5279FC;
    text-align: right;
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;   
    margin-top: 2px;
}
.mp421up{
    margin-left: 5px;
    cursor:grab;
}

.mp7{
    margin-top: 7px;
}
.mp8{
    width: 0px;
    height: 46px;
}
.mp11{
 margin-top: 7px;
}
.mp12{
    flex-direction: row;
    justify-content: space-evenly;
    flex-shrink: 0;
    display: flex;
    color: #FFF;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 7px;
}
.mp6,.mp7,.mp10,.mp11{
    display: flex;
    justify-content: space-between;
}
.mp6>p:nth-child(2){
    margin-left: 8px;
}
.mp7>p:nth-child(2){
    margin-left: 8px;
}
.mp10>p:nth-child(2){
    margin-left: 8px;
}
.mp11>p:nth-child(2){
    margin-left: 8px;
}
.pv1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 28px 0 28px;
}
.pvpv1>p{
    color: #FFF;
    font-family: Acme;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.pvpv2>p{
    color: #FFF;
    font-family: Acme;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}
.pvpv3>p{
    color: #FFF;
    font-family: Acme;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}
.pv1dot{
    right: 0;
    position: absolute;
}
.pvpv1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 28px 0 28px;
}
.pvpv2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 28px 0 28px;  
}
.pvpv3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 28px 0 28px;
}
.pv10 {position: relative;}
.pv1dot>li {
    background-color: #5778ff;
  }  
  .submenu1{
    text-align: center;
    right: 0;
    position: absolute;
    background-color: white;
    animation: fadedown 1s;
  }
  .submenu2{
    text-align: center;
    right: 0;
    position: absolute;
    background-color: white;
    animation: fadedown 1s;
  }
  .submenu3{
    text-align: center;
    right: 0;
    position: absolute;
    background-color: white;
    animation: fadedown 1s;
  }
  .submenu_box {
    overflow: hidden;
}
  @keyframes fadedown {
    0% {
        opacity: 0;
        margin-top: -60px;
    }
    100% {
        opacity: 1;
        margin-top: 0;
    }
}

.submenu1 li {
    width: 100px; height: 30px; line-height: 30px;
}
.submenu2 li{
    width: 100px; height: 30px; line-height: 30px;
}
.submenu3 li{
    width: 100px; height: 30px; line-height: 30px;
}
.pv2{
    display: flex;
}
.pv2box{
    width: 19.13px;
    height: 19.13px;
    flex-shrink: 0;    
    background: #A30B0B;
    margin-top: 25px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pv3box{
    width: 19.13px;
    height: 19.13px;
    flex-shrink: 0;    
    background: #A30B0B;
    margin-top: 25px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pv4box{
    width: 19.13px;
    height: 19.13px;
    flex-shrink: 0;    
    background: #162F88;
    margin-top: 25px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pv2h{
    color: #FFF;
    font-family: Acme;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}
.pv21{
    color: #FFF;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;    
    padding-left: 20.87px;
    padding-top: 25px;
    width: 234px;
    height: 15px;
}
.pv22{
    padding-left: 2px;
    padding-top: 25px;
    color: gray;
    text-align: center;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 31px;
    height: 17px;
    }
.pv23{
    padding-left: 15px;
    padding-top: 28px;
    width: 38px;
    height: 10px;
    color: #FFF;
    text-align: right;
    font-family: Pretendard;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;    
}
.pv3,.pv4,.pv5{
    display: flex;
}
.pv31{
    margin-top: 25px;
    color: #FFF;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;    
    padding-left: 20.87px;
    width: 234px;
    height: 15px;
}
.pv32{
    padding-left: 2px;
    margin-top: 23px;
    color: gray;
    text-align: center;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 31px;
    height: 17px;
}
.pv33{
    margin-top: 28px;
    width: 38px;
    height: 10px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: right;
    font-family: Pretendard;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;  
    padding-left: 15px;
}
.pv45{
    display: flex;
}
.notice{
    width: 875px;
    height: 185px;
    flex-shrink: 0;
    border-radius: 30px;
    background: linear-gradient(0deg, #151419 0%, #151419 100%);
    box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.pv233{
    display: flex;
}
.pv45{
    display: flex;
    margin-top: 4px;
}
.intro{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url(../인트로로고.png);
}